$bg-color: #1D1D1D;
$border-color: #4D4D4D;
$main-red: #FA7272;
$main-white: #FFFFFF;

$white-bg-color: #c8c7c7;


$font-SF-Pro-Display: 'SFProDisplay', Roboto, sans-serif;
$font-inter: 'Inter', Roboto, sans-serif;
